.container {
  min-height: 100%;
  /* background-color: yellow ; */
}

mat-sidenav {
  width: 15rem;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  min-height: 100vh
}

main {
  min-height: 100%;
}


.brand {
  font-size: 1.75rem;
  font-weight: 800;
}
